body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .logo {
  	width: 50%;
  }

  .margenFoo {
    margin-top: 2%;
  }

  .parrafo1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    text-align: justify;
  }

  #centrarCasa {
    margin-left: 50%;
    margin-top: 50%;
  }

  #conta {
    font-family: 'Inconsolata', monospace;
  }